<% title "Dashboard" %>

<section class="row">
  <div class="large-9 columns">

    <h3>Your Lessons</h3>
    <%= render @lessons %>
  </div>
  <div class="large-3 columns">
    This is your dashboard sidebar
  </div>
</section>

<hr class="section-spacer">
