<% title "Welcome to Blender, where education and gaming mix." %>

<section class="masthead">
  <div class="row"><div class="columns">
    <h1>Welcome to Blender, where education and gaming mix.</h1>
  </div></div>
</section>

<hr class="section-spacer">

<section class="row"><div class="large-10 columns">
More information about Blender
</div></section>

<hr class="section-spacer">
