/* `Variables
--------------------------------------------------------------------------------*/

$normal_font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$medium_font: "AG Medium", Helvetica, sans-serif;
$bold_font: "AG Bold", Helvetica, sans-serif;

$header_font: $medium_font;
$body_font: $normal_font;


/* `Main Typography
--------------------------------------------------------------------------------*/
body {
  line-height: 1.231;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// h1, h2, h3 {
//   font-family: $header_font;
//   strong {
//     font-family: $bold_font;
//   }
// }

// h1 {
//   font-size: emCalc(44);
//   color: $dark_grey;
// }

// h2 {
//   font-size: emCalc(28);
//   color: $dark_grey;
// }

// h3 {
//   font-family: $bold_font;
//   font-size: emCalc(14);
// }

// h4 {
//   font-family: $body_font;
//   font-size: emCalc(18);
//   font-weight: normal;
// }
